<po-modal
  #modalFormularioCrianca
  p-size="xl"
  p-title="Nova Criança"
  [p-primary-action]="acao"
  >
  <form [formGroup]="formulario">
    <div class="po-row">
      <po-input
      class="po-md-6"
      p-label="Nome"
      formControlName="nome"
      p-clean="true"
      p-required="true"
      [p-readonly]="somenteLeitura.toString()"
      ></po-input>

      <po-input
      class="po-md-6"
      p-label="Apelido"
      formControlName="apelido"
      p-clean="true"
      ></po-input>
    </div>

    <div class="po-row">
      <po-datepicker
      *ngIf="!somenteLeitura"
      class="po-md-6"
      p-label="Data de Nascimento"
      formControlName="data_nascimento"
      p-format="dd/mm/yyyy"
      p-clean="true"
      p-required="true"
      ></po-datepicker>

      <po-input
      *ngIf="somenteLeitura"
      class="po-md-6"
      p-label="Data de Nascimento"
      formControlName="data_nascimento"
      p-clean="true"
      [p-readonly]="somenteLeitura.toString()"
      p-required="true"
      ></po-input>
    </div>

    <div class="po-row">
      <po-input
      class="po-md-6"
      p-label="Responsável"
      formControlName="responsavel"
      p-clean="true"
      p-required="true"
      ></po-input>

      <po-input
      class="po-md-6"
      p-label="Telefone"
      formControlName="telefone"
      p-mask="9?9999-9999"
      p-clean="true"
      ></po-input>
    </div>

    <div class="po-row">
      <po-combo
      class="po-md-6"
      p-label="Categoria"
      formControlName="categoria"
      [p-options]="categorias"
      [p-clean]="true"
      ></po-combo>

      <po-combo
      class="po-md-3"
      p-label="Posição primária"
      formControlName="posicao"
      [p-options]="posicoes"
      [p-clean]="true"
      ></po-combo>

      <po-combo
      class="po-md-3"
      p-label="Posição secundária"
      formControlName="posicao_secundaria"
      [p-options]="posicoes"
      [p-clean]="true"
      ></po-combo>
    </div>

    <po-divider p-label="Tamanho de Roupas"></po-divider>

    <div class="po-row">
      <po-input
      class="po-md-4"
      p-label="Número do calçado"
      formControlName="numero_tenis"
      p-clean="true"
      p-mask="99"
      ></po-input>

      <po-input
        class="po-md-4"
        formControlName="tamanho_camiseta"
        p-label="Tamanho de Camiseta"
        p-clean="true"
      ></po-input>

      <po-input
        class="po-md-4"
        formControlName="tamanho_calca"
        p-label="Tamanho de Calça"
        p-clean="true"
      ></po-input>
    </div>
  </form>
</po-modal>
